.advantage__main {
  background-color: #81b3d2;
  color: #ffffff;
  padding: 37px 0 37px 0;
}

.advantage__secondary {
  background-color: #eeeeee;
  padding: 24px 0 24px 0;
}

.advantage__image {
  max-width: 100%;
  height: auto;
}

.advantage__title {
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  font-weight: 700;
}

.advantage__description {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  font-weight: 400;
}

.advantage__number {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  font-weight: 400;
  padding: 11px 0 17px 0;
}
