.advantage {
  padding: 0;
}

.advantage__main {
  background-color: #81b3d2;
}

.advantage__secondary {
  background-color: #eeeeee;

  &:not(:first-of-type) {
    border-top: 1px solid #d6d6d6;
  }
}

.advantage-image {
  max-width: 100%;
  height: auto;
}

.advantage__header {
  padding: 0;
}

.advantage__title {
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  padding: 37px 18px 0 18px;
  font-weight: 700;
}

.advantage__description {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  padding: 49px 18px 0 18px;
  font-weight: 400;
}
