.contact-form__title {
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  font-weight: 700;
}

.contact-form__label {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  font-weight: 400;
}

.contact-form__input {
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  font-weight: 700;

  &::placeholder {
    opacity: 0.3;
  }
}
