.developer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  font-weight: 400;
  padding-bottom: 40px;
}

.developer__logo {
  width: 27px;
  height: 34px;
}
