.emotions-form {
  padding-bottom: 56px;
}

.emotions-form__title {
  padding-top: 24px;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  font-weight: 700;
  padding-bottom: 20px;
}

.emotions-form__textarea {
  padding: 16px;
  width: 279px;
  height: 150px;
  background: #f2f2f2;
  resize: none;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  border: none;

  &::placeholder {
    opacity: 0.3;
  }
}
