.fullname-form__title {
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  font-weight: 700;
}

.fullname-form__label {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  font-weight: 400;
}

.fullname-form__input {
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  font-weight: 700;
  color: #000000;

  &::placeholder {
    color: #000000;
  }
}
