.modal {
   height: 280px;
   width: 100%;
}

.modal__title {
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  font-weight: 700;
}

.modal__description {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  font-weight: 400;
}

.modal__button {
  width: 180px;
  height: 58px;
  background-color: #81b3d2;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  font-weight: 700;
}
