.offer__button {
  width: 284px;
  height: 58px;
  background-color: #81b3d2;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
}

.offer__button-wrapper {
  padding: 32px 0 49px 0;
}

.offer__title {
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  font-weight: 700;
  padding-top: 38px;
}

.offer__description {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  font-weight: 400;
}
