.video {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.video__dummy {
  display: block;
}

.video__play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
}
