@import "./variables";

// ToDO временная имитация mobile версии
html {
  width: 320px;
}

body {
  height: 100%;
  margin: 0;
  font-family: $main-font;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: $main-color;
  background-color: $main-background-color;
  text-transform: uppercase;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
